USE [master]
GO
/****** Object:  Database [ChatsDB]    Script Date: 2016/08/16 6:41:40 PM ******/
CREATE DATABASE [ChatsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ChatsDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChatsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ChatsDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatsDB]
GO
/****** Object:  Table [dbo].[tblChatHistory]    Script Date: 2016/08/16 6:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblChatHistory](
	[ChatID] [int] IDENTITY(1,1) NOT NULL,
	[ChatUserName] [varchar](500) NULL,
	[Chat] [text] NULL,
	[DateSent] [datetime] NULL,
 CONSTRAINT [PK_tblChatHistory] PRIMARY KEY CLUSTERED 
(
	[ChatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
